@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.slide-in {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@-webkit-keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(115%);
    -webkit-transform: translateX(115%);
    -moz-transform: translateX(115%);
    -ms-transform: translateX(115%);
    -o-transform: translateX(115%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(115%);
    -webkit-transform: translateX(115%);
    -moz-transform: translateX(115%);
    -ms-transform: translateX(115%);
    -o-transform: translateX(115%);
  }
}
@layer components {
  .btn {
    @apply w-32 py-1.5 text-lg font-semibold rounded-md;
  }
  .btn__cancel {
    @apply dark:text-gray-300 text-gray-600 hover:shadow-none shadow-none dark:border-2 dark:border-transparent dark:hover:border-gray-200  border-2 border-transparent hover:border-gray-600;
  }
  .btn__save {
    @apply dark:bg-blue-400 bg-blue-600 text-gray-200 dark:text-gray-200;
  }
  .btn__delete {
    @apply dark:bg-red-400 bg-red-600 text-gray-200 dark:text-gray-200;
  }
  .alert {
    @apply flex dark:bg-neutral-700 bg-neutral-700 my-1 items-center w-full h-12 p-3 text-gray-100 relative  rounded-md;
  }
  .alert__container {
    @apply fixed z-20 overflow-hidden overflow-y-auto top-10 right-3 w-72;
  }
  .alert__message {
    @apply font-mono text-xs text-gray-100 truncate;
  }
  .alert__timeProgress {
    @apply h-2 transition-all ease-in-out duration-1000 w-full absolute bottom-0 appearance-none left-0 right-0;
  }
  .alert__timeProgress__error {
    @apply dark:bg-red-400 bg-red-500;
  }
  .alert__timeProgress__success {
    @apply dark:bg-green-300 bg-green-400;
  }
  .alert__btn__close {
    @apply absolute text-sm text-gray-100 cursor-pointer top-1 right-1;
  }
  .alert__countdown {
    @apply absolute bottom-0 text-xs cursor-pointer right-1 text-white;
  }
  .modal {
    @apply absolute py-3 bg-gray-200 dark:bg-[#121212]  px-5 shadow-lg rounded-lg;
  }
  .modal__backdrop {
    @apply fixed top-0 bottom-0 left-0 right-0 w-full h-full  bg-[#121212] dark:bg-[#e5e5e5] dark:bg-opacity-40 bg-opacity-60  overflow-hidden;
  }
  .modal__icon__close {
    @apply cursor-pointer hover:rotate-180 transition-transform transform duration-300;
  }
  .modal__responsive__width {
    @apply w-11/12 sm:w-8/12 md:w-6/12 lg:w-4/12 xl:w-3/12;
  }
  .table__container {
    @apply w-full overflow-hidden bg-white dark:bg-[#121212] px-2 sm:px-4 rounded-md shadow-md hover:shadow-lg my-10 dark:border-gray-800 border;
  }
}

.loader {
  width: 65px;
  height: 65px;
  padding: 35px;
  border-color: #555 transparent #555 #555;
  border-style: solid;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  position: relative;
  /* top: 50px; */
  border-width: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader::after {
  content: "";
  position: absolute;
  padding: 50px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: #1eb7e5 5px solid;
  border-bottom-color: transparent;
}
.loader::before {
  content: "";
  position: absolute;
  padding: 65px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: #555 5px solid;
  border-left-color: transparent;
}
